.App {
    background-image: url('/img/img-fire-1@3x.png'),
    url('/img/img-fire-2@3x.png'), 
    url('/img/img-fire-3@3x.png'), 
    url('/img/img-fire-4@3x.png'), 
    url('/img/img-fire-5@3x.png'), 
    url('/img/img-planet@3x.png');
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
    @media screen {
        
    }
    background-size: 14.84375vw 14.84375vw, 4.1146vw 4.1146vw, 9.8958vw 9.8958vw, 4.1146vw 4.1146vw, 4.1146vw 4.1146vw, 100% auto;
    background-position: right 18.0729vw bottom 55.6429vh, right 61.25vw bottom 84.7857vh, right 71.9792vw bottom 49.4286vh, right 86.25vw bottom 64.07143vh, right 8.2448vw bottom 48.3643vh, right 0 top 20.7857vh;
}