.App {
    height: calc(47.916666vw + 471px);
    background-image: url('/img/img-fire-1@3x.png'),
    url('/img/img-fire-2@3x.png'), 
    url('/img/img-fire-3@3x.png'), 
    url('/img/img-fire-4@3x.png'), 
    url('/img/img-fire-5@3x.png'), 
    url('/img/img-planet@3x.png');
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
    background-size: 285px 284px, 79px 78px, 190px 189px, 79px 78px, 79px 78px, 100% auto;
    background-position: right 347px top 137px, left 665px top 135px, left 348px top 319px, left 185px top 225px, right 158px top 445px, right 0 top 471px;
}