@mixin text {
    font-family: NotoSans;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
}
.input-box-basic {
    .input-text-area {
        .input-title {
            padding-bottom: 4px;
            height: 24px;
            span {
                @include text;
                font-size: 16px;
                letter-spacing: -0.5px;
                color: #f6f2f2;
            }
        }
        .input-detail {
            padding-bottom: 16px;
            height: 20px;
            span {
                @include text;
                font-size: 14px;
                letter-spacing: -0.44px;
                color: #3a97c7;
            }
        }
    }
    .input-box-area {
        display: flex;
        width: auto;
        height: 56px;
        background-color: #3a97c7;
        align-items: center;
        input {
            width: auto;
            height: 29px;
            margin: 13px auto 14px 16px;
            background-color: transparent;
            border: none;
            outline: none;
            font-family: NotoSans;
            font-size: 20px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: -0.63px;
            color: #556371;
        }
        .focus {
            color: #24303c;
        }
        .symbol {
            margin-right: 16px;
            font-family: NotoSans;
            font-size: 20px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: -0.63px;
            text-align: right;
            color: #556371;
        }
        .insert {
            color: #24303c;
        }
    }
    .error-box {
        margin-top: 8px;
        height: 16px;
        span {
            font-family: NotoSans;
            font-size: 12px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: -0.38px;
            color: #f5424e;
            white-space: pre-line;
        }
    }
}