input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@mixin text {
    font-family: NotoSansKR;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
}
@mixin sub-title {
    @include text;
    font-size: 16px;
    letter-spacing: -0.5px;
    color: #f6f2f2;
}
@mixin sub-text {
    @include text;
    font-size: 14px;
    letter-spacing: -0.44px;
    color: #3a97c7;
}

@mixin notice-text {
    @include text;
    font-size: 12px;
    letter-spacing: -0.38px;
    color: #3a97c7;
}

main {
    .main-page {
        width: 100%;
        height: 1280px;
        .rocket-img-area {
            width: 100%;
            height: 120px;
            margin-top: 60px;
            align-items: center;
            img {
                height: 100%;
                width: auto;
                padding-left: calc(50vw - 90px);
            }
        }
        .main-title {
            width: 100%;
            margin: auto;
            margin-top: 14px;
            text-align: center;
            .main-title-text {
                height: 80px;
                font-family: NotoSansKR;
                font-size: 56px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: -1.75px;
                text-align: center;
                color: #f5424e;
                .main-title-text1 {
                    letter-spacing: -1.72px;
                    color: #f6f2f2;
                }
            }
        }
        .klay-data {
            width: 100%;
            max-width: 769px;
            height: 45px;
            margin: auto auto;
            margin-top: 30px;
            text-align: center;
            .data-box {
                display: flex;
                text-align: center;
                div {
                    width:50%;
                    display: flex;
                    text-align: center;
                }
                .data-text {
                    width: 100%;
                    @include sub-title;
                }
            }
        }
        .main-card {
            width: 100%;
            height: 600px;
            position: absolute;
            .card-area {
                position:absolute;
                display: flex;
                width: 1280px;
                height: 600px;
                margin: 0 calc(50% - 640px);
                
                z-index: 1;
                .card {
                    width: 50%;
                    height: 100%;
                    .card-box {
                        width: 100%;
                        height: 100%;
                        margin: 174.3px 767px 150px 8px;
                        border-radius: 8px;
                        box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.5);
                        background-color: #24303c;
                        .box-tab {
                            display: flex;
                            width: 100%;
                            height: 60px;
                            .box-menu {
                                position: relative;
                                width: 50%;
                                height: 100%;
                                div {
                                    width: auto;
                                    text-align: center; 
                                }
                                .menu-text {
                                    @include sub-title;
                                    line-height: 3.226vw;
                                    color: #556371;
                                }
                                .selected {
                                    color: #f6f2f2;
                                }
                                .selected:after {
                                    position: absolute;
                                    width: 100%;
                                    height: 2px;
                                    bottom: -5px;
                                    left: 0;
                                    content: "";
                                    background:#f5424e;
                                }
                            }
                        }
                        .box-content {
                            width: auto;
                            height: 475px;
                            padding-left: 100px;
                            padding-right: 100px;
                            .notice-box {
                                padding-top: 60px;
                                .notice-title {
                                    display: flex;
                                    padding-left: 10px;
                                    height: 24px;
                                    vertical-align: middle;
                                    .notice-text {
                                        display: inline-block;
                                        font-family: NotoSansKR;
                                        font-size: 16px;
                                        font-weight: normal;
                                        font-stretch: normal;
                                        font-style: normal;
                                        line-height: 24px;
                                        letter-spacing: -0.5px;
                                        color: #f6f2f2;
                                    }
                                    div {
                                        margin-left: 8px;
                                        .help {
                                            width: 20px;
                                            height: 20px;
                                        }
                                    }
                                }
                                .buddies {
                                    display: flex;
                                    width: 100%;
                                    padding-top: 16px;
                                    .buddy {  
                                        width: 90px;
                                        height: 104px;  
                                        margin-right: 20px;
                                        padding: 12px 16px;
                                        border-radius: 8px;
                                        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
                                        background-color: #24303c;
                                        box-sizing: border-box;
                                        .buddy-img {
                                            width: 58px;
                                            height: 60px;
                                        }
                                        .buddy-name {
                                            text-align: center;
                                            .buddy-name-text {
                                                font-family: NotoSansKR;
                                                font-size: 12px;
                                                font-weight: normal;
                                                font-stretch: normal;
                                                font-style: normal;
                                                line-height: normal;
                                                letter-spacing: -0.38px;
                                                color: #3a97c7;
                                            }
                                            .select {
                                                color: #f5424e;
                                            }
                                        }
                                    }
                                    .buddy:hover {
                                        border: solid 1px #3a97c7;
                                    }
                                    .buddy.select {
                                        border: solid 1px #f5424e;
                                    }
                                }
                                .notice-text-detail {
                                    padding-left: 10px;
                                    font-family: NotoSansKR;
                                    font-size: 14px;
                                    font-weight: normal;
                                    font-stretch: normal;
                                    font-style: normal;
                                    line-height: 0.4839vw;
                                    letter-spacing: -0.44px;
                                    color: #3a97c7;
                                }
                            }
                            .card-title {
                                width: 100%;
                                height: 28px;
                                margin-top: 16px;
                                text-align: center;
                                .card-title-text {
                                    font-family: NotoSansKR;
                                    font-size: 20px;
                                    font-weight: 500;
                                    font-stretch: normal;
                                    font-style: normal;
                                    line-height: normal;
                                    letter-spacing: -0.63px;
                                    color: #f6f2f2;
                                }
                            }
                            .popularity {
                                width: 100%;
                                margin-top: 60px;
                                .popularity-title-box {
                                    width: 100%;
                                    display: flex;
                                    align-items: center;
                                    .popularity-title-text {
                                        width: auto;
                                        span {
                                            @include sub-title;
                                        }
                                    }
                                    .popularity-title-sub {
                                        float:right;
                                        span {
                                            @include notice-text;
                                            text-align: right;
                                        }
                                    }
                                }
                                .popularity-data {
                                    width: 100%;
                                    margin-top: 12px;
                                    display: flex;
                                    .popularity-data-div {
                                        margin-right: 37px;
                                        .popularity-box-title {
                                            span {
                                                @include sub-text;
                                            }
                                        }
                                        .popularity-data-num {
                                            margin-top: 8px;
                                            span {
                                                font-family: NotoSansKR;
                                                font-size: 14px;
                                                font-weight: normal;
                                                font-stretch: normal;
                                                font-style: normal;
                                                line-height: normal;
                                                letter-spacing: -0.44px;
                                                color: #f5424e;
                                            }
                                        }
                                    }
                                }
                                
                            }
                            .information-box {
                                padding-top: 2.8496vw;
                                display: flex;
                                align-items: center;
                                .information-box-title {
                                    text-align: center;
                                    span {
                                        font-family: NotoSansKR;
                                        font-size: 16px;
                                        font-weight: normal;
                                        font-stretch: normal;
                                        font-style: normal;
                                        line-height: normal;
                                        letter-spacing: -0.5px;
                                        color: #f6f2f2;
                                    }
                                }
                                .symbol {
                                    width: auto;
                                    margin: 0.7vw 0.8607vw 0.7527vw auto;
                                    text-align: center;
                                    span {
                                        font-family: NotoSansKR;
                                        font-size: 20px;
                                        font-weight: bold;
                                        font-stretch: normal;
                                        font-style: normal;
                                        line-height: normal;
                                        letter-spacing: -0.63px;
                                        color: #556371;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}