@mixin text {
    font-family: NotoSansKR;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
}


main {
    .main-page {
        width: 100%;
        height: 1280px;
        .main-title-voyger {
            margin-top: 140px;
            text-align: center;
            .main-title-text {
                @include text;
                font-size: 56px;
                font-weight: bold;
                letter-spacing: -1.72px;
                text-align: center;
                color: #f6f2f2;
            }
        }
        .sub-title-voyger {
            margin-top: 29px;
            text-align: center;
            .sub-title-text {
                @include text;
                font-size: 16px;
                letter-spacing: -0.5px;
                color: #f6f2f2;
            }
        }
        .main-card {
            width: 100%;
            height: 600px;
            position: absolute;
            .card-area {
                position:absolute;
                display: flex;
                width: 1240px;
                margin: 0 calc(50% - 640px);
                z-index: 1;
                .short {
                    width: 50%;
                    height: 67.33%;
                    .card-box {
                        width: 100%;
                        height: 100%;
                        margin: 174.3px 767px 150px 8px;
                        border-radius: 8px;
                        box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.5);
                        background-color: #24303c;
                        .box-tab {
                            display: flex;
                            width: 100%;
                            height: 14.85%;
                            .box-menu-max{
                                position: relative;
                                width: 100%;
                                height: 100%;
                                text-align: center;
                                .menu-text {
                                    @include text;
                                    line-height: 60px;
                                    color: #f2eeef;
                                }
                            }
                        }
                        .box-content {
                            width: auto;
                            height: 69.09%;
                            padding-left: 110px;
                            padding-right: 110px;
                        }
                        .box-button {
                            display:inline-block;
                            position: relative;
                            width: 100%;
                            height: 16.09%;
                            text-align: center;
                            border-top-width: thin;
                            border-top-color: #3a97c7;
                            .btn-text {
                                font-family: NotoSansKR;
                                font-size: 16px;
                                font-weight: bold;
                                font-stretch: normal;
                                font-style: normal;
                                line-height: normal;
                                letter-spacing: -0.5px;
                                line-height: 65px;
                                color: #3a97c7;
                            }
                            .btn-text::before {
                                animation:bounce-x-ltr;
                                position: absolute;
                                width: 100%;
                                height: 1px;
                                left: 0;
                                content: "";
                                background: #3a97c7;
                            }
                        }
                    }
                }
            }
        }
    }
}